<!DOCTYPE html>
<html>
  <head>
    <title> MORE WEBPAGE</title>
    <style>
      h1{
  font-style:40px;
  font-family: Roboto;
  font-weight:normal;
  color:rgb(100,0,0);
  text-align: center;
}</style>
  </head>
  <body>
    <h1>Hello there, welcome to my page</h1>
    <img src="static/welcome.png">
    <button>contact us</button>
    <p>I am trying to generate the website just for practice i hope you like if you like just leave a comment in comment section thank you for vising</p>
    
    
    
    
  </body>
</html>
</html>